---
import Layout from '../layouts/Layout.astro';
import Operacion from '../components/Operacion.astro';

const ops=[0,1,2,3];
const actual=0;
---

<Layout title="Practica o cálculo">
	<main class="max-w-xl">
		<Operacion max={9}/>
	</main>
</Layout>

<style>
</style>
